# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
*.env

# Flask
instance/
.webassets-cache

# PyCharm
.idea/

# VS Code
.vscode/

# Miscellaneous
*.log
.DS_Store